@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@font-face {
  font-family: "LINESeed";
  src: url("/fonts/LINESeedKR-Rg.woff2") format("woff2");
  unicode-range: U+AC00-D7A3, U+1100-11FF, U+3130-318F; /* 한글 */
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "LINESeed";
  src: url("/fonts/LINESeedJP_OTF_Rg.woff2") format("woff2");
  unicode-range: U+3040-30FF, U+4E00-9FFF; /* 일본어 */
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "LINESeed";
  src: url("/fonts/LINESeedSans_W_Rg.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0100-017F; /* 영어 */
  font-style: normal;
  font-weight: 400;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
